PATH_add .bundle/bin
PATH_add ./scripts
# Ensure that we use the development DB when in the src dir.
export DB=development
export COMPOSE_FILE=.devcontainer/docker-compose.yml
export COMPOSE_PROJECT_NAME=byr
export BOOTSNAP_CACHE_DIR=tmp/cache
